<% model = [local_assigns[:commentable], comment].compact %>

<%= form_with model: model,
  id: dom_id_for_records(*model),
  data: local_assigns[:data],
  class: ["my-4"] + Array.wrap(local_assigns[:class]) do |form| %>

  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <%= form.rich_text_area :body, id: "#{dom_id_for_records(*model)}_body" %>
  <%= form.submit class: "btn btn-primary" %>
  <%= link_to "Cancel", comment, class: "btn btn-link" if form.object.persisted? %>
<% end %>
